@import url("https://fonts.googleapis.com/css?family=Dancing+Script|Quicksand|Saira&display=swap");


html { 
  font-size:1vw; 
}

body {
  margin-bottom: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 2.2rem !important;
}

* {
  text-align: center;
}

.code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
  color: green;
}

.small {
  font-size: 1.2rem !important;
}

.script {
  font-family:'dancing script';
}

.card {
  margin-left: 20rem;
  margin-right: 20rem;
}

a {
  color: lightslategray !important;
}

#menu {
  position: relative;
  z-index: 70;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  display: inline-block;
  margin-left:auto;
}

li {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  font-size: 1.5rem;
}

.nav-bar {
  position: fixed;
  display: flex;
  width: 90%;
  margin: 30px;
  margin-top: 10px;
  z-index: 1;
  align-items: center;
}

.toggle {
  display: inline-block;
}

#menu li {
  display: inline-block;
  margin: 10px 0;
}

body.light-mode {
  background-color: #fff;
  color: #333;
  transition: background-color 0.3s ease;
}

body.light-mode .fp-controlArrow {
  filter: invert(1);
} 

body.dark-mode {
  background-color: #1a1919;
  color: #fff;
}

body.dark-mode #arrow {
  filter: invert(1);
}

.fp-controlArrow {
  margin-left: 5rem;
  margin-right: 5rem;
}

body.dark-mode #fp-nav ul li a span, body.dark-mode .fp-slidesNav ul li a span {
  background: white;
}

.fp-controlArrow {
  width: 5rem;
}

#menu .active {
  text-decoration: underline;
  font-weight: bold;
}

.card {
   width: 60%; 
   height: 70%;
   box-shadow: 0 0 10px grey;
}

.card-img {
  width: auto !important;
  height: 20rem;
  align-self: center;
}

.bg-white {
  background-color: gray !important;
}

.wide {
  width: 100% !important;
  height: 60%;
  align-self: center;
}

.circular--landscape {
  width: 18rem;
  height: 18rem;
  overflow: hidden;
  border-radius: 50%;
  position: absolute;
  left: 9rem;
  top: 12rem;
}

.circular--landscape2 {
  width: 18rem;
  height: 18rem;
  overflow: hidden;
  border-radius: 50%;
  position: absolute;
  right: 9rem;
  top: 12rem;
}

.avatar {
  width: auto;
  height: 100%;
}

.big {
  font-size: 8rem;
  margin-bottom: 0;
}

.medium {
  font-size: 6rem;
}

.flex-container {
  width: 100%;
  justify-content: center;
}