.script {
    margin-bottom: 0;
}

.icon {
    height: 2rem;
    width: 2rem;
    margin: .5rem;
}

.coffee {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 30rem;
    -webkit-filter: drop-shadow(0px 0px 5px grey);
    filter: drop-shadow(0px 0px 5px grey);
}

.grass {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 35rem; 
    -webkit-filter: drop-shadow(0px 0px 5px grey);
    filter: drop-shadow(0px 0px 5px grey);
}

.grass:hover, .coffee:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }