.big .name {
    margin-bottom: 0;
}

#peshy {
    margin-bottom: 2%;
}

#penn {
    color: #990000;
    font-family: 'ITC STONE SERIF';  
}

.first-letter {
    font-size: 33pt;
}

p {
    margin-bottom: .3rem;
    font-size: 25pt;
}

img {
    height: 50pt;
}